---
import { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post: post },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout title={slug}>
  <article class="prose mx-auto my-12">
    <h1>{post.data.title}</h1>
    <p>{post.data.date}</p>
    <Content />
  </article>
</Layout>
