---
import Layout from "@layouts/Layout.astro";
import { PokemonForm } from "@components/PokemonForm";
---

<Layout title="Add pokemon">
  <h1>Add pokemon</h1>

  <PokemonForm client:load />
</Layout>
