---
import NavigationItem from "./NavigationItem.astro";
---

<header>
  <nav>
    <ul class="flex gap-4 justify-center">
      <NavigationItem title="Home" href="/" />
      <NavigationItem title="Blog" href="/blog" />
    </ul>
  </nav>
</header>
