---
import { ClientRouter } from "astro:transitions";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<head>
  <title>{pageTitle}</title>

  <ClientRouter />
</head>
